/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
form{
  margin-top:10%;
  padding-top:5%;
  padding-left:75px;
  padding-bottom:5%;
  border-style: outset;
  background-color:rgb(95, 39, 65);;
}
input{
  padding-left:20px;
}
.submit{
  margin-left:70px;
  margin-top:20px;
  background-color:rgb(58, 15, 15);
}
textarea{
  margin-top:10px;
}